# **Dealing with the Database**

In [2]:
# importing modules
import sqlite3     # importing the required module

In [3]:
# creation of a database
# use the database if it pre-exists or create it otherwise
try:
    connection = sqlite3.connect("myemp.db")
    print("Connected with the database successfully...")
except:
    print("Unsuccessful database connectivity...")

Connected with the database successfully...

* Search on Google with the search string "sqlite manager"
* Required Link: https://extendsclass.com/sqlite-browser.html

In [4]:
# creation of employee table with schema as employee(emp_id, emp_name, emp_city, emp_salary)
sqlStr = '''
         CREATE TABLE employee (
             emp_id INTEGER PRIMARY KEY,
             emp_name TEXT,
             emp_city TEXT,
             emp_salary REAL);
         '''
try:   # create the table if it does not pre-exist
    connection.execute(sqlStr)
    print("The database table has been created successfully...")
except:
    print("Error !!! The database table could not be created...")

The database table has been created successfully...

In [8]:
print(connection.execute('pragma table_info("employee")'))
print(list(connection.execute('pragma table_info("employee")')))
for each_row in connection.execute('pragma table_info("employee")'):
    print(each_row)

<sqlite3.Cursor object at 0x000001E86AA5FAC0>
[(0, 'emp_id', 'INTEGER', 0, None, 1), (1, 'emp_name', 'TEXT', 0, None, 0), (2, 'emp_city', 'TEXT', 0, None, 0), (3, 'emp_salary', 'REAL', 0, None, 0)]
(0, 'emp_id', 'INTEGER', 0, None, 1)
(1, 'emp_name', 'TEXT', 0, None, 0)
(2, 'emp_city', 'TEXT', 0, None, 0)
(3, 'emp_salary', 'REAL', 0, None, 0)

In [10]:
# inserting records from the csv file and writing it to the database table employee
# importing required modules
import csv
sqlStr = "INSERT INTO employee VALUES('{emp_id_ph}', '{emp_name_ph}', '{emp_city_ph}', '{emp_salary_ph}');"
# reading line by line from the csv file and storing them onto the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader to read from the data file with ',' as the delimiter
    for row in csv_reader:
        print(row)
# csv_reader = csv.reader(data_file)   # Error Message -> ValueError: I/O operation on closed file.

['1001', 'Dhiman', 'Kolkata', '39000']
['1002', 'Anupam', 'Kolkata', '25000']
['1003', 'Subham', 'Mumbai', '36000']
['1004', 'Dinesh', 'Chennai', '28000']
['1005', 'Kakali', 'Mumbai', '25000']
['1006', 'Bimal', 'Hyderabad', '30000']
['1007', 'Tarun', 'Chennai', '17000']
['1008', 'Rittik', 'Durgapur', '45000']
['1009', 'Barun', 'Hyderabad', '39000']
['1010', 'Utpal', 'Lucknow', '20000']

ValueError: I/O operation on closed file.

In [19]:
# inserting records from the csv file and writing it to the database table employee
# importing required modules
import csv
sqlStr = "INSERT INTO employee VALUES('{emp_id_ph}', '{emp_name_ph}', '{emp_city_ph}', '{emp_salary_ph}');"
# reading line by line from the csv file and storing them onto the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader to read from the data file with ',' as the delimiter
    # print(list(csv_reader))
    print(len(list(csv_reader)))
    print(list(csv_reader))
# csv_reader = csv.reader(data_file)   # Error Message -> ValueError: I/O operation on closed file.

10
[]

In [26]:
# inserting records from the csv file and writing it to the database table employee
# importing required modules
import csv
sqlStr = "INSERT INTO employee VALUES('{emp_id_ph}', '{emp_name_ph}', '{emp_city_ph}', '{emp_salary_ph}');"
# reading line by line from the csv file and storing them onto the database table
# with open('emp_data.csv') as data_file:
# with open('C:\\Users\\Arnab\\AEC MCA Project Guidance 2024\\emp_data.csv') as data_file:
# with open('C:\\Users\Arnab\AEC MCA Project Guidance 2024\emp_data.csv') as data_file:
# with open('C:/Users/Arnab/AEC MCA Project Guidance 2024/emp_data.csv') as data_file:
# with open('C://Users//Arnab//AEC MCA Project Guidance 2024//emp_data.csv') as data_file:
with open('C:\\Users\Arnab/AEC MCA Project Guidance 2024//emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    # reader to read from the data file with ',' as the delimiter
    print(list(csv_reader))

[['1001', 'Dhiman', 'Kolkata', '39000'], ['1002', 'Anupam', 'Kolkata', '25000'], ['1003', 'Subham', 'Mumbai', '36000'], ['1004', 'Dinesh', 'Chennai', '28000'], ['1005', 'Kakali', 'Mumbai', '25000'], ['1006', 'Bimal', 'Hyderabad', '30000'], ['1007', 'Tarun', 'Chennai', '17000'], ['1008', 'Rittik', 'Durgapur', '45000'], ['1009', 'Barun', 'Hyderabad', '39000'], ['1010', 'Utpal', 'Lucknow', '20000']]

In [29]:
# inserting records from the csv file and writing it to the database table employee
# importing required modules
import csv
sqlStr = "INSERT INTO employee VALUES('{emp_id_ph}', '{emp_name_ph}', '{emp_city_ph}', '{emp_salary_ph}');"
# reading line by line from the csv file and storing them onto the database table
with open('emp_data.csv') as data_file:
    csv_reader = csv.reader(data_file)
    for row in csv_reader:
        print(row)
        connection.execute(sqlStr.format(emp_id_ph = row[0], emp_name_ph = row[1], emp_city_ph = row[2], emp_salary_ph = row[3]))
connection.commit()   # to make the change permanent
print("All the data items got inserted successfully...")

['1001', 'Dhiman', 'Kolkata', '39000']
['1002', 'Anupam', 'Kolkata', '25000']
['1003', 'Subham', 'Mumbai', '36000']
['1004', 'Dinesh', 'Chennai', '28000']
['1005', 'Kakali', 'Mumbai', '25000']
['1006', 'Bimal', 'Hyderabad', '30000']
['1007', 'Tarun', 'Chennai', '17000']
['1008', 'Rittik', 'Durgapur', '45000']
['1009', 'Barun', 'Hyderabad', '39000']
['1010', 'Utpal', 'Lucknow', '20000']
All the data items got inserted successfully...

In [32]:
# fetching all the records from the database table
# SQL for fetching all the records from the employee table
sqlStr = "SELECT * FROM employee;"
# read from the table and point the cursor at the top of the variable cur_table
cur_table = connection.execute(sqlStr)
# print(list(cur_table))
for row in cur_table:
    print(f"Emp-ID: {row[0]}, Emp-Name: {row[1]}, Emp-City: {row[2]} and Emp-Salary: {row[3]}...")

Emp-ID: 1001, Emp-Name: Dhiman, Emp-City: Kolkata and Emp-Salary: 39000.0...
Emp-ID: 1002, Emp-Name: Anupam, Emp-City: Kolkata and Emp-Salary: 25000.0...
Emp-ID: 1003, Emp-Name: Subham, Emp-City: Mumbai and Emp-Salary: 36000.0...
Emp-ID: 1004, Emp-Name: Dinesh, Emp-City: Chennai and Emp-Salary: 28000.0...
Emp-ID: 1005, Emp-Name: Kakali, Emp-City: Mumbai and Emp-Salary: 25000.0...
Emp-ID: 1006, Emp-Name: Bimal, Emp-City: Hyderabad and Emp-Salary: 30000.0...
Emp-ID: 1007, Emp-Name: Tarun, Emp-City: Chennai and Emp-Salary: 17000.0...
Emp-ID: 1008, Emp-Name: Rittik, Emp-City: Durgapur and Emp-Salary: 45000.0...
Emp-ID: 1009, Emp-Name: Barun, Emp-City: Hyderabad and Emp-Salary: 39000.0...
Emp-ID: 1010, Emp-Name: Utpal, Emp-City: Lucknow and Emp-Salary: 20000.0...

In [33]:
# SQL for fetching name and salary of those employees whose salary is greater than 30000
sqlStr = "SELECT emp_name, emp_salary FROM employee WHERE emp_salary > 30000;"
# read from the table and point the cursor at the top of the variable cur_table
cur_table = connection.execute(sqlStr)
# print(list(cur_table))
for row in cur_table:
    print(f"Empo-Name: {row[0]} and Emp-Salary: {row[1]}...")

Empo-Name: Dhiman and Emp-Salary: 39000.0...
Empo-Name: Subham and Emp-Salary: 36000.0...
Empo-Name: Rittik and Emp-Salary: 45000.0...
Empo-Name: Barun and Emp-Salary: 39000.0...

### **Class Assignments:**

* **Query-1**
> Fetch employee name, salary and 7.5% Tax against salaries of all the employees.

* **Query-2**
> Select city wise Fetch employee name, salary and 7.5% Tax against salaries of all the employees.